#ErrorDocument 403 /px/assets/errors/403.php
#ErrorDocument 404 /px/assets/errors/404.php
#ErrorDocument 500 /px/assets/errors/500.php

DirectoryIndex index.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1\.php

# 1 Year
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# 1 Month
<FilesMatch "\.(txt|xml|js|css)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>

# NEVER CACHE!
<FilesMatch "\.(html|htm|php|cgi|pl)$">
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
</FilesMatch>
